<div class="row">
  <div class="col">
    <%= render partial: 'jikkan', locals: { jikkan: pillar.tenkan_data, person: person } %>
    <%= render partial: 'junishi', locals: { junishi: pillar.chishi_data, person: person } %>
    <%= render partial: 'jikkan', locals: { jikkan: pillar.zoukan_data, person: person } %>
  </div>
</div>
