<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <%= pillar.tenkan_hentsusei.name %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= pillar.zoukan_hentsusei.name %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= pillar.houn.name %>
      </div>
    </div>
  </div>
</div>
