<%= link_to '新規登録', new_person_path %>

<table>
  <thead>
  <tr>
    <th>名前</th>
    <th>生年月日</th>
  </tr>
  </thead>
  <% @people.each do |person| %>
    <tr>
      <td>
        <%= link_to person.name, person_path(person) %>
      </td>
      <td>
        <%= l person.datetime_of_birth %>
      </td>
    </tr>
  <% end %>
</table>
