<div class="card main">
  <div class="card-header">
    <div class="card-title text-center align-middle">
      <h1>命式</h1>
    </div>
    <%= button_to "大運", people_fortune_of_decades_path, params: person_params(@person), class: 'btn btn-primary'%>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= l @person.datetime_of_birth %>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-6">
        <%= render 'meishiki' %>
      </div>
    </div>
  </div>
</div>
