<div class="card main">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%#= l @person.datetime_of_birth %>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-6">
        <%= render 'meishiki' %>
      </div>
    </div>
  </div>
</div>
