$font-size-base: .875rem !default
$font-size-sm:   .812rem !default
$font-size-xs:   .75rem  !default
$font-size-xxs:  .688rem !default

$h1-font-size: $font-size-base * 2.8 !default
$h2-font-size: $font-size-base * 1.8 !default
$h3-font-size: $font-size-base * 1.4 !default
$h4-font-size: $font-size-base * 1.3 !default
$h5-font-size: $font-size-base * 1.2 !default
$h6-font-size: $font-size-base * 1.1 !default

.main {
  font-size: $h1-font-size;
  input[type='text'] {
    font-size: $h1-font-size;
  }
  input[type='button'] {
    font-size: $h6-font-size;
  }
  label{
    font-size: $h1-font-size;
  }
  select {
    font-size: $h1-font-size;
  }
}

.tentoku {
  color: #FF0000
}

.kubou {
  color: #0000FF
}
